# Python
backend/.venv
backend/venv
**/__pycache__
*.pyc
.venv
# Node
frontend/node_modules
dist

.DS_Store

key.json
.env
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    