services:
  frontend:
    build: ./frontend
    ports:
      - '80:80'
    depends_on:
      - backend
  
  backend:
    build: ./backend
    ports:
      - '8000:8000'
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload